# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.env
.venv/
venv/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/


# =========================
# Image
# =========================
.png
.jpg
.jpeg